/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

body {
  background-image: url('images/cement.jpg');
  background-size: cover;
  background-repeat: repeat;
}


h1 {
  text-align: center;
  font-family: 'Permanent Marker';
  font-size: 50px;
  color: #FED141;
}

h2 {
  color: black;
  font-family: 'Permanent Marker';
  font-weight: lighter;
  font-size: 20px;
}

div {
  background-color: #FED141;
  padding: 5px;
}


button {
  margin: 10px;
  background-color: black;
  color: #FED141;
  font-size: 20px;
}

input {
  margin-left: 10px;
}

.score, .question-number {
  font-family: 'Permanent Marker';
  font-size: 20px;
}

body {
  font-family: 'Architects Daughter';
  font-size: 20px;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.item {
  margin: 10px;
}

@media all and (min-width: 800px) {
  .group {
    flex-direction: row;
  }

  .item {
    margin: 5px;
  }
}

@media all and (max-width: 800px) {
  .item img {
    width: 100%;
  }
}